{% extends "base.html" %}
{% block content %}
<h1> Cancel booking</h1>
<div>
    <table class="table"> 
        <thead class="table table-dark">
            <th> Booking ID </th>
            <th> Name </th>
            <th> Contact </th>
            <th> Room </th>
            <th> Actions </th>
        </thead>
        <tbody>
            {% for b in bookings %}
            <tr>
                <td>{{b.pk}} </td>
                <td>{{b.name}} </td>
                <td>{{b.contact}} </td>
                <td>{{b.room}} </td>
                <td> 
                    <a href="{% url 'booking_cancel' b.pk %}">Cancel</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
